{% extends "article/articleDetail.twig" %}

{% block content %}

    <div class="row d-flex justify-content-center align-items-center " style="height: 50vh;">
        <div class="col-6 mx-auto">
            <form action="index.php?access=auth_deleteAccount&id={{ user.id }}" method="post">
                <p class="text-center">Êtes-vous sûr de vouloir supprimer cet article ?</p>

                <div class="col text-center">
                    <button class="btn btn-danger"><a href="index.php?access=article_deleteArticle&id={{article.id}}">Supprimer</a></button>
                </div>

                <div class="col">
                    <button class="btn btn-secondary"><a href="index.php?access=article_getArticle&id={{ article.id }}">Annuler</a></button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}