{% extends "layout/layout.twig" %}

{% block about %}

<div class="container py-5">
	<div class="row mb-4 align-items-center flex-lg-row-reverse">
		<div class="col-md-6 col-xl-4 mb-4 mb-lg-0 ">
			<!-- requires glightbox, please flag the option in the picostrap customizer panel-->

			<div class="lc-block position-relative">
				<img class="img-fluid rounded shadow" src="./img/gland.jpg" srcset="" sizes="(max-width: 1840px) 100vw, 1840px" alt="Photo de Tristan Riedinger">
			</div>
		</div><!-- /col -->

		<div class="col-md-6 col-xl-8">
			<div class="lc-block mb-3">
				<div editable="rich">
					<h1 class="fw-bolder display-2">Tristan Riedinger</h1>
					<h2>Développeur en herbe</h2>
				</div>
		</div><!-- /lc-block -->
			<!-- /lc-block -->

		<div class="lc-block mb-4">
			<div editable="rich">
				<p class="lead">Il faut apprendre à soigner son vocabulaire m'sieur...</p>
			</div>
		</div>

		
		</div><!-- /col -->
	</div>

	<section>

		<h3>C'est l'histoire de la vie</h3>

		<div class="row d-flex justify-content-center">

			<div class="col-5">
				
				<figure>
				
					<img src="./img/hmack.jpeg" alt="">
				
				</figure>
				
			</div>

			<div class="col-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero quasi debitis culpa fugit officia ullam repudiandae iste? Debitis provident iste ipsa at reprehenderit hic quibusdam modi nostrum vel! Veniam, asperiores.</div>

		</div>

	</section>
</div>
 
 
  

{% endblock %}