{% block button %}

    <div class="row d-flex justify-content-space-around">

        <div class="col-3">

        <button>
            <a href="index.php?access=article_getArticle&id={{article.id}}">Voir les commentaires</a>
        </button>

            {% if user.role > 0 %}
            
                <button><a href="index.php?access=article_getArticle&id={{article.id}}">Modifier</a></button>
                <button>Supprimer</button>
            
            {% endif %}
            
        
        </div>

        {% if not user %}
        
            <div class="col-3">
                <p>Pour consulter les commentaires, il faut être authentifié.</p>
                <button>S'authentifier</button>
            </div>
        
        {% endif %}

    </div>

{% endblock %}