{% block content %}
      <div class="row">
              <h2 class="text-center mb-4">A valider</h2>
              <ul style="max-height: 150px; overflow:scroll">
                {% for waiting in waitings %}
                    <li>
                        <div class="col card">
                            <div class="card-body">
                                <h5 class="card-title">{{ waiting.firstname }} {{ waiting.lastname }}</h5>
                                <p class="card-text">{{ waiting.email }}</p>
                                <a href="index.php?access=admin_approuveUser&id={{ waiting.id }}" class="btn btn-primary">Valider</a>
                        </div>
                    </li>
                {% endfor %}
              </ul>
            </div>
{% endblock %}