{% block content %}
      <div class="row">
              <h2 class="text-center mb-4">A valider</h2>
              <ul style="max-height: 150px; overflow:scroll">
                {% for waiting in waitings %}
                    <li>{{ waiting.userName }}</li>
                {% endfor %}
              </ul>
            </div>
{% endblock %}