{% extends "layout/layout.twig" %}

{% block createAccount %}

  <div class="container container-fluid">

    <div class="row mt-5">

      <h2 class="text-center">Inscrivez-vous</h2>

      <form action="index.php?access=auth_signup" method = "POST">

      <!-- UserName input -->
        <div class="form-outline mb-4 z-2">
          <input type="text" id="userName" class="form-control" name="userName"/>
          <label class="form-label" for="userName">Nom d'utilisateur</label>
        </div>
    
        <!-- Email input -->
        <div class="form-outline mb-4 z-2">
          <input type="email" id="email" class="form-control" name="email"/>
          <label class="form-label" for="email">Adresse email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="password" class="form-control z-4" name="password"/>
          <label class="form-label" for="password">Mot de passe</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <input type="password" id="passwordMatch" class="form-control z-4" name="passwordMatch"/>
          <label class="form-label" for="passwordMatch">Confirmez votre mot de passe</label>
        </div>

        <!-- 2 column grid layout -->
        <div class="row mb-2">
          <div class="col-md-6 d-flex justify-content-center">
            <!-- Simple link -->
            <a href="index.php?access=auth_resetPassword">Mot de passe oublié</a>
          </div>
        </div>

          <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">S'inscrire</button>
    
      </form>

    </div>

    

    <!-- Register buttons -->
    <div class="text-center">
      <p>Déjà membre ? <a href="index.php?access=auth_register">Se connecter</a></p>
    </div>

   
 


  </div>

{% endblock %}