{% extends "layout/layout.twig" %}

{% block reset %}

    <h2 class="text-center">Alors comme ça on a oublié son mot de passe ?!?!?</h2>

    <div class="container">

        <figure class="figure d-flex ">

            <img src="./img/istockphoto-1278808047-612x612.jpg" alt="" class="figure-img img-fluid mx-auto">

        </figure>

        <div class="row">

        <div class="col-8 mx-auto">

            <form action="index.php?access=user_passwordForget" method="POST">
                
                <div class="form-container">
                
                    <label for="email">Renseinsez votre adresse email</label>
                    <input type="email" id="email" name="email">
                
                </div>

                <button type="submit">Envoyer</button>
                
            </form>
            
        </div>

        </div>

    </div>

{% endblock %}