{% block email %}

    {% block body %}
        <p>Salut Gros Tas</p>

        <p>T'as reçu une nouvelle demande depuis ton blog tout pourri, check this out biatch !</p>

        <p>Bisous caresses</p>
        
        <p> {{ form.demande }} </p> <br>
        
        
        La demande a été transmise par {{ form.prenom }} {{ form.nom }} : {{ form.email }}</p>

    {% endblock %}


    <figure class="figure d-flex col-6 mx-auto">
    
        <img src="./img/hmack.jpeg" alt="truc">

        <figcaption class="figure-caption">Le plus souriant des tocards</figcaption>

    </figure>


{% endblock %}