{% block email %}

    {% block body %}

        <h3>On a oublié quelque chose</h3>

        <p>Bonjour {{ params.user.userName }}</p>
        <p>Veuillez trouver votre nouveau mot de passe temporaire : {{ params.newPassword }} </p>

    {% endblock %}

    <figure class="figure d-flex col-6 mx-auto">
    
        <img src="./img/istockphoto-1278808047-612x612.jpg" alt="truc">

        <figcaption class="figure-caption">Le plus souriant des tocards</figcaption>

    </figure>

{% endblock %}