{% block email %}

    {% block body %}
        <p>Bienvenue sur Touneti Blog !</p>

        <br><br>

        <p>Chaque mois je partage des publications sur les actualités du moment.</p>
        <p>Echanger avec les membres me permet d'approfondir mes connaissances et je suis ravis que tu joignes à notre aventure.<br>
        N'oublie pas la cotisation mensuelle de 3 000 €. Ces derniers n'ont rien à voir averc les premiers 6 000 versés pour l'ouverture du dossier. </p>
    {% endblock %}

    <figure class="figure d-flex col-6 mx-auto">
    
        <img src="./img/istockphoto-1278808047-612x612.jpg" alt="truc">

        <figcaption class="figure-caption">Le plus souriant des tocards</figcaption>

    </figure>

{% endblock %}