<header>
  <nav class="navbar navbar-expand-lg bg-secondary " style="width: 100%; position: relative;" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="index.php">Blog Tristan Riedinger</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarColor01">
        <ul class="navbar-nav" style="position: absolute; right: 1%;">

      
          <li class="nav-item">
            <a class="nav-link active" href="index.php">Accueil
              <span class="visually-hidden">(current)</span>
            </a>
          </li>

          {% if loggedUser %}      
              <li class="nav-item">
                  <a class="nav-link" href="index.php?access=user_getUser&id={{loggedUser.id}}"> {{loggedUser.userName}} </a>
              </li>            
          {% endif %}

          {% if loggedUser.role == 1 %}

              <li class="nav-item">
                  <a class="nav-link" href="index.php?access=article_newArticle"> Nouvel article </a>
              </li>     
          
          {% endif %}
          
          <li class="nav-item">
              <a class="nav-link" href="index.php?access=home_about">Qui suis-je ?</a>
          </li>

          <li class="nav-item">
              <a class="nav-link" href="index.php?access=home_contact">Me contacter</a>
          </li>

          {% if loggedUser %}      
              <li class="nav-item">
                  <a class="nav-link" href="index.php?access=auth_logout"> Se déconnecter </a>
              </li>            
          
          {% else %}
          
              <li class="nav-item">
                  <a class="nav-link" href="index.php?access=auth_register">S'authentifier</a>
              </li>
          
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>